*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
    text-decoration: none;
    list-style: none;
}
.header{
    top: 0;
    left: 0;
    padding: 10px 3%;
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100 ;
}
.logo{
    font-size: 25px;
    color: white;
    font-weight: 600;
    transition: 0.3s ease;
}
.logo:hover{
    color: orangered;
    text-shadow: 0 0 25px orangered, 0 0 50px orangered;
    transform: scale(1.1);
}
span{
    color: orangered;
}
.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.navbar a:hover,
.navbar a.active{
    color:orangered;
    border-bottom: 3px solid orangered;
}
.contact{
    padding: 10px 28px;
    background-color: white;
    color: black;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 16px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
}
.contact:hover{
    background-color: orangered;
    box-shadow: 0 0 25px orangered;
    color: white;
}
.home{
    width: 100%;
    min-height: 100vh;
    background: rgb(241, 241, 241);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px auto;
    padding-left: 9%;
}
.home-content{
    max-width: 100%;
}
.home-content h3{
    font-size: 42px;
    animation: backwards;
}
.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}
.home-content h1:hover{
  transform-origin: 20px;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}
.button-box{
    width: 345px;
    display: flex;
    gap: 2em;
}
.button-1{
    padding: 15px 28px;
    background-color: black;
    color: white;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.button-1:hover{
    background-color: white;
    color: black;
    border: 2px solid black;
}
.image-box img{
    border-radius: 50%;
    width: 450px;
    box-shadow: 0 0 25px orangered, 0 0 50px orangered; 
    border: 2px solid orangered;
    padding-left: 20px;
}
::-webkit-scrollbar{
    width: 8px;
}
::-webkit-scrollbar-thumb{
    background-color: orangered;
}
::-webkit-scrollbar-track{
    background-color: rgba(0, 0, 0, 0.6);
    width: 8px;
}
.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10% 8%;
    gap: 10em;
    background-color: black;
}
.about-img img{
    position: relative;
    width: 400px;
    box-shadow: 0 0 25px orangered, 0 0 50px orangered;
    border-radius: 50%;
}
.about-content h2{
    text-align: left;
    color: white;
    font-size: 42px;
}
.about-content h3{
    font-size: 62px;
    color: white;
}
.about-content p{
    color: white;
    font-size: 20px;
    margin: 2em 0 3em;
}
.button-2{
    padding: 10px 20px;
    background-color: orangered;
    color: white;
    border-radius: 8px;
    font-size: 18px;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s ease;
    cursor: pointer;
}
.button-2:hover{
    background-color: white;
    color: orangered;
}
.contact-form h2{
    text-align: center;
    margin-top: 3em;
    margin-bottom: 1em;
    font-size: 36px;
}
.contact-form form{
    max-width: 50em;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3em;
}
.contact-form form.input-box{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.contact-form form.input-box input,
.contact-form form textarea{
    width: 100%;
    padding: 1rem;
    font-size: 18px;
    color: black;
    background-color: rgba(241, 241, 241,);
    border-radius: 1rem;
    margin: 1rem 0;
    resize: none;
}
.footer{
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color: black;
}
.social{
    text-align: center;
    padding-bottom:25px;
    color: white;
}
.social a{
    font-size: 24px;
    color: white;
    border: 2px solid orangered;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    box-shadow: inset 0 0 10px orangered, inset 0 0 10px orangered;
    transition : 0.3s ease;
}
.social a:hover{
    transform: scale(1.2)translateY(-10px);
    color: orangered;
    border: 2px solid orangered;
}
.footer ul{
    margin-top: 0;
    padding: 0;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}
.footer ul li a{
    color: white;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}
.footer ul li a:hover{
    border-bottom: 3px solid orangered;
}
.footer ul li{
    display: inline-block;
    padding: 0 15px;
}
.footer .copyright{
    margin-top: 10px;
    text-align: center;
    font-size: 12px;
    color: white;
}
.education{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9% 8%;
    gap: 8em;
    background-color: whitesmoke;
}
.education-content h2{
    text-align: left;
    color: black;
    font-size: 30px;
}
.education-content h3{
    font-size: 30px;
    color: black;
}
.education-content p{
    color: black;
    font-size: 20px;
    margin: 0em 0 1em;
}
.education-content h4{
    color: black;
    font-size: 20px;
    margin: 0em 0 1em;
}
.timeline {
  position: relative;
  padding-left: 25px;
  border-left: 3px solid orangered;
}

.timeline-item {
  position: relative;
  margin-bottom: 30px;
}
.timeline-icon{
    font-size: 50px;
}
#skills {
  padding-top: 9%;
  padding-bottom: 50px;
  background-color: black;

}

#skills h2 {
  text-align: center;
  font-size: 2.5em;
  margin-bottom: 30px;
  color: white;
}

.skills-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.skill {
  margin-bottom: 30px;
}

.skill h3 {
  margin-bottom: 5px;
  color: white;
}

.skill-bar {
  background: #ddd;
  border-radius: 5px;
  overflow: hidden;
  
}

.skill-level {
  padding: 10px;
  color: #fff;
  font-weight: bold;
  text-align: right;
  border-radius: 5px;
}
.skill-level.html {
  width: 90%;
  background-color: #e44d26;
}

.skill-level.css {
  width: 85%;
  background-color: #264de4;
}

.skill-level.js {
  width: 75%;
  background-color: #f0db4f;
  
}
.skill-level.wordpress {
  width: 70%;
  background-color: #21759b;
}
.skill-level.bootstrap {
  width: 80%;
  background-color: #563d7c;
}
.skill-level.illustrator {
  width: 80%;
  background-color: #e7cd0d;
}
.skill-level.photoshop  {
  width: 60%;
  background-color: #306998;
}
.skill-level.Figma {
  width: 80%;
  background-color: rgb(255,44,44)
}


.projects {
  padding-top: 9%;
  background-color: #f9f9f9;
  text-align: center;
}

.projects h2 {
  font-size: 3.0em;
  margin-bottom: 30px;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 25px;
}

.project-card {
    background-color: black;
    border-radius: 8px;
    box-shadow: 0 0 10px yellow, 0 0 15px red;
    width: 250px;
    padding: 20px;
}
.project-card:hover {
    border: 7px solid orangered;
    border-block-end: #e44d26;
    transform: scale(1.05)translateY(-5px);
}
.project-card img {
         width: 80%;
    border-radius: 10px;
}
  
.project-card h3 {
    margin: 15px 0 10px;
  font-size: 1.4em;
  color: white  ;
}
  
.project-card p {
    font-size: 0.95em;
  color: #555;
}
.project-card a {
    display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: #007bff;
  font-weight: bold;
}
  
.project-card a:hover {
    color: orangered;
  text-shadow: 0 0 25px orangered, 0 0 50px orangered;
  transition-timing-function: initial;
}

.project-card h3 {
  margin: 15px 0 10px;
  font-size: 1.0em;
  color: white  ;
}
.project-card h3:hover {
  color: orange;
  text-shadow: 0 0 25px orange, 0 0 50px orange;
}



.buttons {
    margin-bottom: 30px;
  }
  
  .buttons button {
    margin: 5px;
    padding: 10px 20px;
    background: orangered;
    color: black;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background 0.3s;
    font-size: 1.0em;
    font-style: bold;
    
  }
  
  .buttons button:hover {
    background: white;
    transform: scale(1.0)translateY(-5px);
  }